[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.0"
flask-cors = "==4.0.0"
requests = "*"
beautifulsoup4 = "*"
python-dotenv = "==1.0.0"
sqlalchemy = "==2.0.23"
lxml = "==4.9.3"
sherlock-project = "==0.14.3"
scrapy = "*"
phonenumbers = "*"

[dev-packages]

[requires]
python_version = "3.12"
